<div class="contact">

  <form action="https://formspree.io/info@asaldana.es" method="POST" class="contact-form">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" class="as-input">
    </div>

    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="text" name="_replyto" id="email" class="as-input">
    </div>

    <div class="form-group">
      <label for="message">Mensaje</label>
      <textarea name="message" id="message" class="as-input"></textarea>
    </div>

    <button type="submit" class="button">Enviar mensaje</button>

  </form>

</div>
