<nav class="navigation">
  <div class="navigation-menu">
    <div routerLinkActive="active" class="link-item">
      <a [routerLink]="['home']">Inicio</a>
    </div>
    <div routerLinkActive="active" class="link-item">
      <a [routerLink]="['cv']">Cv</a>
    </div>
    <div routerLinkActive="active" class="link-item">
      <a [routerLink]="['portfolio']">Portfolio</a>
    </div>
    <div routerLinkActive="active" class="link-item">
      <a href="http://www.google.es" target="_blank">Blog</a>
    </div>
  </div>
</nav>
